@model RequestStockViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Test 1</h1>
    <br />
    <br />
    <h3 class="text-success">@Model.Message</h3>
</div>
